*{
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Syne', sans-serif;
}
.hero{
    padding-left: 60px;
    padding-right: 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.logo{
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #29292a;
    font-weight: 600;
    text-transform: capitalize;
    transition: all;
    transition-delay: 200ms;
}
nav ul li a:hover{
    color: gray;
}
.hero_section{
    padding-left: 60px;
    padding-right: 60px;
}
.hero_container{
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}
.content{
    align-items: center;
    text-align: center;
}
.hello{
    opacity: 80%;
    font-size: 28px;
    margin-bottom: 10px;
}
.hero_text{
    margin-bottom: 12px;
    font-size: 65px;
    font-weight: 900;
}
.hero_intro{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Space Grotesk', sans-serif;
}
button{
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    background-color: #29292a;
    color: white;
    cursor: pointer;
}
.about{
    padding: 60px 75px 60px 75px;
}
.my_img{
    height: 450px;
    width: 600px;
    background-color: gray;
    margin-right: 60px;
}
.about_me{
    max-width: 60%;
}
.about_me_text{
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.project_img{
    height: 400px;
    width: 600pxs;
}
section{
    padding-left: 60px;
    padding-right: 60px;
}
.heading_1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}
.projects_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 40px;
}
.project_des{
    width: 50%;
    margin-left: 40px;
}
.pro_subheading{
    margin-bottom: 20px;
}
.pro_sub{
    margin-bottom: 10px;
}
.project_about{
    margin-bottom: 15px;
}
label{
    margin-top: 30px;
    font-size: 10px;
    background-color: gray;
    padding: 8px 8px 8px 8px;
}
.container{
    margin: auto;
    padding-top: 45px;
    padding-bottom: 45px;
}











@media only screen and (max-width: 320px){
    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
    }
    .hero_section{
        padding-left: 10px;
        padding-right: 10px;
    }
    .hero_container{
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .content{
        align-items: left;
        text-align: left;
    }
    .hello{
        opacity: 80%;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .hero_text{
        margin-bottom: 12px;
        font-size: 22px;
        font-weight: 600;
    }
    .hero_intro{
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 130%;
        font-family: 'Space Grotesk', sans-serif;
    }
    .flexbox{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .projects_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
        margin-top: 40px;
    }
}
