*{
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Syne', sans-serif;
}
.hero{
    padding-left: 60px;
    padding-right: 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.logo{
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #29292a;
    font-weight: 600;
    text-transform: capitalize;
    transition: all;
    transition-delay: 200ms;
}
nav ul li a:hover{
    color: gray;
}
.hero_section{
    padding-left: 60px;
    padding-right: 60px;
}
.container{
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.content{
    align-items: center;
}
.hello{
    opacity: 80%;
    font-size: 22px;

    margin-bottom: 10px;
}
.hero_text{
    margin-bottom: 20px;
    font-size: 65px;
}
button{
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    background-color: #29292a;
    color: white;
    cursor: pointer;
}