*{
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Syne', sans-serif;
}
.hero_mobile{
    display: none;
}
.hero{
    padding-left: 60px;
    padding-right: 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.logo{
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #29292a;
    font-weight: 600;
    text-transform: capitalize;
    transition: all;
    transition-delay: 200ms;
}
nav ul li a:hover{
    color: gray;
}
.hero_section{
    padding-left: 60px;
    padding-right: 60px;
}
.hero_container{
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}
.content{
    align-items: center;
    text-align: center;
}
.hello{
    opacity: 80%;
    font-size: 28px;
    margin-bottom: 10px;
}
.hero_text{
    margin-bottom: 12px;
    font-size: 65px;
    font-weight: 900;
}
.hero_intro{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Space Grotesk', sans-serif;
}
button{
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    background-color: #29292a;
    color: white;
    cursor: pointer;
}
.about{
    padding: 60px 75px 60px 75px;
}
.my_img{
    height: 450px;
    width: 600px;
    background-color: gray;
    margin-right: 60px;
}
.about_me{
    max-width: 60%;
}
.about_me_text{
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.project_img{
    height: 400px;
    width: 600pxs;
}
section{
    padding-left: 60px;
    padding-right: 60px;
}
.heading_1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}
.projects_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 40px;
}
.projects_flex_reverse{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 40px;
   }
.project_des{
    width: 50%;
    margin-left: 40px;
}
.pro_subheading{
    margin-bottom: 20px;
}
.pro_sub{
    margin-bottom: 10px;
}
.project_about{
    margin-bottom: 15px;
}
label{
    margin-top: 30px;
    font-size: 10px;
    background-color: gray;
    padding: 8px 8px 8px 8px;
}
.container{
    margin: auto;
    padding-top: 45px;
    padding-bottom: 45px;
}
.project_des_left{
    margin-right: 40px;
}












@media only screen and (max-width: 700px){
   .hero_section{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
   }
   section{
    padding-left: 20px;
    padding-right: 20px;
   }
   .container{
    margin: auto;
   }
   .hero_container{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   }
   .hero{
    display: none;
   }
   .hero_text{
    font-size: 32px;
   }
   .content{
    align-items: left;
    text-align: left;
   }
   .flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   }
   .projects_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 40px;
   }
   .projects_flex_reverse{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-top: 40px;
   }
   .project_des{
    width: auto;
    margin-left: 40px;
   }
   .project_img{
    height: auto;
    max-width: 100%;
   }
   .about{
    padding: 0px 0px 0px 0px;
   }
   .project_des{
    width: auto;
    margin-left: 0px;
   }
   .about_me{
    max-width: auto;
   }
   .my_img{
    width: 350px;
    height: 300px;
    background-color: gray;
    margin-right: 60px;
    align-items: center;
   }
   .about_me_text{
    margin-bottom: 20px;
   }
   .hero_mobile{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
   }
   .grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: #29292a;
    border-style: solid;
    border-radius: 20px;
    border-width: 0.5px;
    }
    .logo{
        text-align: center;
    }
    .nav_link{
        padding-left: 9px;
        padding-right: 9px;
        align-items: center;
        text-align: center;
    }

}
